aiofiles==23.1.0
aiohttp==3.8.4
apsw==3.40.1.0
bandit==1.7.4
beautifulsoup4==4.11.2
black==23.1.0
feedparser==6.0.10
flake8==6.0.0
grpcio==1.51.3
lxml==4.9.2
more-itertools==9.0.0
mypy==1.0.0
mypy-extensions==1.0.0
PyGithub==1.57
pytest==7.2.1
pytest-cov==4.0.0
pytest-mock==3.10.0
python-dateutil==2.8.2
python-dotenv==1.0.0
ray[default]==2.3.0
spavro==1.1.24
tldextract==3.4.0
tqdm==4.64.1
typed-ast==1.5.4
types-aiofiles==22.1.0.9
types-beautifulsoup4==4.11.6.7
types-python-dateutil==2.8.19.8
urlextract==1.8.0
